{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row" style="padding-top: 2.5%;">
    <div class="col">
    </div>
    <div class="col-7">
      <h1 class="interest">Interested in becoming a tour guide?</h1>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row" style="padding-top:2.5%;">
      <div class="col" style="padding-left: 17.5%;">
          <h4 class="left-become">Benefits</h4>
      </div>
      <div class="col-3">
      </div>
      <div class="col">
          <h4 class="right-become">Testimonials</h4>
      </div>
  </div>
  <div class="row" style="padding-top:2.5%;">
      <div class="col" style="padding-left: 17.5%;">
          <p>&#9642; Average earnings of $45+ per hour</p>
          <p>&#9642; Work when it's convenient for your schedule</p>
          <p>&#9642; Great chance to show off why you love your school</p>
          <p>&#9642; Make valuable connections with new students and their families</p>
          <p>&#9642; Opportunity to earn tips (you keep 100%)</p>
      </div>
      <div class="col-3">
      </div>
      <div class="col">
          <p>&#9642; "I love showing students and their parents why Michigan is so great!" - Lily A. (Senior)</p>
          <p>&#9642; "I used to DoorDash part-time, but TruBlu is much more fun and I make more." - Evan S. (Sophomore)</p>
          <p>&#9642; "I was looking for a low-commitment part-time job on campus and couldn't find anything that fit my schedule...until I found TruBlu!" - Blaise G. (Junior)</p>
      </div>
  </div>
  <div class="row" style="padding-top:2.5%; padding-bottom: 2.5%;">
      <div class="col" style="padding-left: 17.5%;">
      </div>
      <div class="col">
          <a class="btn btn-primary" href="https://forms.gle/2rKFLwTyKgB1BmTR8" role="button">Apply Now</a>
      </div>
      <div class="col">
      </div>
  </div>
</div>
{% endblock %}
