{% extends "base.html" %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="{{url_for('download_file', filename=tourguide['photofile'])}}" width="250" /> </div>
                            <div class="text-center p-4"><p>Tour Price: ${{ tourguide.rate }}</p><p>Hometown: {{ tourguide.city }}, {{ tourguide.state }}</p></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1"><a href="/tourguides/">Back</a></span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">{{ tourguide.currentgrade }}</span>
                                <h5 class="text-uppercase">{{ tourguide.firstname }} {{ tourguide.lastname }}</h5>
                                {% if tourguide.majorthree %}
                                    <div class="price d-flex flex-row align-items-center"> <span class="act-price">Majors: {{ tourguide.majorone }}, {{ tourguide.majortwo }}, {{ tourguide.majorthree }}</span>
                                {% elif tourguide.majortwo %}
                                    <div class="price d-flex flex-row align-items-center"> <span class="act-price">Majors: {{ tourguide.majorone }}, {{ tourguide.majortwo }}</span>
                                {% else %}
                                    <div class="price d-flex flex-row align-items-center"> <span class="act-price">Major: {{ tourguide.majorone }}</span>
                                {% endif %}

                                {% if tourguide.minorone %}
                                    <div class="price d-flex flex-row align-items-center"> <span class="act-price">Minor: {{ tourguide.minorone }}</span>
                                {% endif %}
                                </div>
                            </div>
                            <br>
                            <p><strong>About</strong></p>
                            <p class="about">{{ tourguide.aboutme }}</p>
                            <br>
                            <p><strong>Tour Description</strong></p>
                            <p class="about">{{ tourguide.tourdescription }}</p>
                            <br>
                            <p><strong>Extracurricular Involvement</strong></p>
                            {% if tourguide.ecfive %}
                                <p class="about">{{ tourguide.econe }}, {{ tourguide.ectwo }}, {{ tourguide.ecthree }}, {{ tourguide.ecfour }}, {{ tourguide.ecfive }}</p>
                            {% elif tourguide.ecfour %}
                                <p class="about">{{ tourguide.econe }}, {{ tourguide.ectwo }}, {{ tourguide.ecthree }}, {{ tourguide.ecfour }}</p>
                            {% elif tourguide.ecthree %}
                                <p class="about">{{ tourguide.econe }}, {{ tourguide.ectwo }}, {{ tourguide.ecthree }}</p>
                            {% else %}
                                <p class="about">{{ tourguide.econe }}, {{ tourguide.ectwo }} </p>
                            {% endif %}
                            <div class="cart mt-4 align-items-center"> <a href="mailto:{{ tourguide.email }}?subject=TruBlu Tour Inquiry"><button class="btn text-uppercase mr-2 px-4" style="background-color:#3D54C1; color: white;">Contact {{ tourguide.firstname }}</button></a> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
